@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (CurrentPage.HasValue("imageGallery"))
{
    string mediaItems = CurrentPage.ImageGallery.ToString();
    var images = mediaItems.Split(',').Select(x => Umbraco.Media(int.Parse(x))).ToList();
    <div class="row image-gallery">
        <div class="large-12 columns">
            <ul id="imageGallery" data-orbit data-options="pause_on_hover: false; slide_number: false; timer: false; bullets: false;">
                @foreach (var image in images)
                {
                    <li data-orbit-slide="@image.Id" class="full-width">
                        <img src="@image.Url" alt="@image.Title">
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul id="galleryThumbnails" class="small-block-grid-4 medium-block-grid-6 large-block-grid-8">
                @foreach (var image in images)
                {
                    var activeClass = images.IndexOf(image) == 0 ? "active" : string.Empty;
                    <li>
                        <a data-orbit-link="@image.Id">
                            <img id="galleryThumb-@image.Id" src="@image.Url" alt="@image.Title" class="full-width @activeClass">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}